body {
    font-size: 18px;
    justify-content: center;
    font-family: Roboto;
}

h1 {
    font-size: 36px;
}
.button {
    text-align: center;
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 1.3rem;

}
.main-div {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 1rem;
}

li {
    cursor: pointer;
    font-size: 1.2rem;
}
